.heading h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 60px 20px;
}
.place{
    width: 50%;
    align-items: center;
    margin: 0 30%;
}
.place p {
    text-align: revert;
    margin-top: 15px;
}
.place-name {
    font-size: 30px;
    color: red;
}